// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// Used to show the status bar for component demos
$cordova-ios-statusbar-padding:           31px;

// Ionic Windows Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.wp";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App Windows Only Sass
// --------------------------------------------------
// CSS that should only apply to the Windows app

@import "../pages/popovers/basic/styles.wp";

// Windows Status Bar
// ----------------------------
img#wp-only {
  display: block !important;
  position: absolute;
  background-color: transparent;
  padding: 5px 0;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 999;
}
