// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.varialbes.scss file
@import 'app.variables';


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$checkbox-ios-icon-checkmark-color:   #fff;
$cordova-ios-statusbar-padding:       20px;


// Ionic iOS Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.ios";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App iOS Only Sass
// --------------------------------------------------
// CSS that should only apply to the iOS app

@import "../pages/cards/advanced-weather/styles.ios";

@import "../pages/popovers/basic/styles.ios";


// iOS Status Bar
// ----------------------------
img#ios-only {
  display: block !important;
  position: absolute;
  background-color: transparent;
  padding: 5px 0;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 999;
}

.tabs-icon-text tabbar {
  .tab-button[aria-selected=true],
  .tab-button:hover:not(.disable-hover) {
    color: #7e60ff;
  }
}
