// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.varialbes.scss file
@import 'app.variables';


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-background:                   map-get($colors, primary) !default;
$toolbar-md-text-color:                   #fff !default;
$toolbar-md-active-color:                 #fff !default;
$toolbar-md-inactive-color:               #fff !default;

$checkbox-md-icon-checkmark-color:        #fff !default;
$segment-button-md-text-color-activated:  #fff !default;

// Used to show the status bar for component demos
$cordova-ios-statusbar-padding:           29px;

// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.md";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app

@import "../pages/cards/advanced-weather/styles.md";

@import "../pages/popovers/basic/styles.md";

// Android Status Bar
// ----------------------------
img#md-only {
  display: block !important;
  position: absolute;
  background-color: transparent;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 999;
}

.tabs-icon-text ion-title div.toolbar-title {
  color: #fff !important;
}

.tabs-icon-text tabbar {
  background-color: #7e60ff;

  a {
    color: #fff !important;
  }
}

.tabs-icon-text tab-highlight {
  color: #fff;
  background-color: #fff;
}
