
body.md {
  .toolbar-segment-page {
    p {
      text-align: center;
      color: #fff;
    }
  }
}

body.ios {
  .toolbar-segment-page {
    text-align: center;

    ion-buttons[start] {
      text-align: left !important;
    }

  }
}