$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  energized:  #ffc527,
  royal:      #7e60ff,
);

$checkbox-md-icon-checkmark-color: #fff !important;
$checkbox-ios-icon-checkmark-color: #fff !important;
$segment-button-md-text-color-activated: #fff !important;

@import "ionic.ios";
@import "action-sheets/basic/styles";
@import "buttons/fab/styles";
@import "buttons/components/styles";
@import "cards/background/styles";
@import "cards/list/styles";
@import "cards/advanced-weather/styles";
@import "cards/advanced-map/styles";
@import "grid/basic/styles";
@import "icons/basic/styles";
@import "lists/avatar/styles";
@import "lists/basic/styles";
@import "lists/headers/styles";
@import "lists/icon/styles";
@import "lists/inset/styles";
@import "lists/multiline/styles";
@import "lists/no-lines/styles";
@import "lists/thumbnail/styles";
@import "menus/basic/styles";
@import "slides/basic/styles";
@import "tabs/basic/styles";
@import "tabs/icon/styles";
@import "tabs/icon-text/styles";
@import "global";

