.md .ion-md-share {
  color: #ED4248;
}
.md .ion-md-arrow-dropright-circle {
  color: #508AE4;
}
.md .ion-md-heart-outline {
  color: #31D55F;
}
.md .action-sheet-cancel ion-icon, .md .action-sheet-destructive ion-icon {
  color: #757575;
}
